* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: blue;
}

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 5px solid black;
  margin: 0 20px 20px 20px;
  background-color: orange;
}

li {
  color: red;
  width: 500px;
}

ol,
ul {
  margin: 25px 0 25px 0;
  list-style: none;
  text-align: center;
}

h1[class] {
  color: rgb(53, 71, 235);
}

img {
  display: block;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 1em;
  padding: 1em;
  border: 1px solid black;
  align-items: center;
}
